<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Farmer's market</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header class="header">
        <a href="/" class="logo"> <i class="fas fa-shopping-basket"></i> Farm Fresh </a>
    
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/features.html">Features</a>
            <a href="/products.html">Products</a>
            <a href="/categories.html">Categories</a>
            <a href="/Aboutus.html">Aboutus</a>
        </nav>
    
        <div class="other-links">
            <button id="btn-login"><a href="/login">Login</a></button>
            <button id="btn-signup"><a href="/signup">Sign up</a></button>
        </div>
    
        
    </header>   

    <section class="Aboutus" id="Aboutus">

        <h1 class="heading"> <span> About Us </span> </h1>
        
        <div class="box-container">
        
            <div class="box">
                <div class="content">
                    <h3>In a world where industrial farming methods have inundated our food with synthetic chemicals, we stand firm in our commitment to provide you with 100% organic, pure, chemical-free food.We believe that every bite you take should be a step towards a healthier you and towards a healthier and more sustainable.
                        By supporting these farmers, we ensure that every grain, every seed, and every ingredient that finds its way to your table is not only delicious but also safe and nourishing.
                    </h3>
                </div>
                    
            </div>
        </div>
    
    </section>

    <h1><center>Chat Ai</center></h1>

<iframe src='https://webchat.botframework.com/embed/FarmAI-bot?s=DovCphi4ltM.UopC_4NxqJeO6Se2JIY07aTthUCc6xlc-cisH_gTb_k'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>



<section class="footer">  

    <div class="box-container">

        <div class="box">
            <h3> Farm Fresh <i class="fas fa-shopping-basket"></i> </h3>
            <p>No:100,Nammalvar Nagar,12th Street,Chennai-12.</p>
            <div class="share">
                <a href="#" class="fab fa-whatsapp"></a>
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +91 123-456-7890 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +91 111-222-3333 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> farmfresh12@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Chennai,India - 600110.</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="/" class="links"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="/features.html" class="links"> <i class="fas fa-arrow-right"></i> features </a>
            <a href="/products.html" class="links"> <i class="fas fa-arrow-right"></i> products </a>
            <a href="/categories.html" class="links"> <i class="fas fa-arrow-right"></i> categories </a>
            <a href="/Aboutus.html" class="links"> <i class="fas fa-arrow-right"></i> Aboutus </a>
        </div>

    </div>

    <div class="credit"> created by <span> Farm Fresh Team </span> | all rights reserved </div>

</section>






<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="script.js"></script>

</body>
</html>
