<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Farmer's market</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <header class="header">
        <a href="/" class="logo"> <i class="fas fa-shopping-basket"></i> Farm Fresh </a>
    
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/features.html">Features</a>
            <a href="/products.html">Products</a>
            <a href="/categories.html">Categories</a>
            <a href="/Aboutus.html">Aboutus</a>
        </nav>
    </header>
    
    <div class="container1" >
          
        <div class="input-field">
      
            <input type="text"  required />
            <label>Enter your name</label>
        </div>
    
        <div class="input-field">
      
            <input type="email"  required />
            <label>Enter email</label>
        </div>
    
        <div class="input-field">
      
            <input type="address"  required />
            <label>Address</label>
        </div>
        <div class="input-field">
      
            <input type="text"   />
            <label>city</label>
        </div>
        <div class="input-field">
                
            <input type="text"   />
            <label>state</label>
        </div>
        <div class="input-field">
                
          <input type="number" required/>
          <label>mobile number</label>
        </div>
    </div>

   
    <br>
    <br>

        
    
    </div>
      <button id="btn-submit"><a href="/salesacc.html">Submit</a></button>
      
      </form>
    </div>

    <br>

    <button id="btn-back"><a href="/">Back</a></button>


        
</body>       
</html>        
        
        
    