<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Farmer's market</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>

    <div class="container1">
        <form action="{{ url_for('signup') }}" method="POST">
            <h2>Register</h2>
            <div class="input-field">
              
                <input type="text" name="username" required >
                <label>Enter Username</label>
            </div>
            <br>
            <div class="input-field">
              
                <input type="email" name="email" required >
                <label>Enter email</label>
            </div>
            <br>
            <div class="input-field">
              
                <input type="password" name="password" required >
                <label>Enter password</label>
            </div>
            <br>
            <div class="remember-forgot">
                <label>
                    <input type="checkbox" id="Save-login" > Remember
                    
                </label>
            </div>
            <button type="submit">Register</button>
            <div class="register-link">
                <p>Click to Login <a href="/login">Login</a></p>
            </div>
        </form>
    </div>

</body>
</html>
    