<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Farmer's market</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header class="header">
        <a href="/" class="logo"> <i class="fas fa-shopping-basket"></i> Farm Fresh </a>
    
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/features.html">Features</a>
            <a href="/products.html">Products</a>
            <a href="/categories.html">Categories</a>
            <a href="/Aboutus.html">Aboutus</a>
        </nav>
    
        <div class="other-links">
            <button id="btn-login"><a href="/login">Login</a></button>
            <button id="btn-signup"><a href="/signup">Sign up</a></button>
            <a href="/cartform.html"><i class="fa fa-shopping-cart "></i><span class="badge" style="background-color: #ffffff;border-radius: 100%;" id="cartincrement">0</span></a>
        </div>
    
        
    </header>   


<section class="products" id="products">

    <h1 class="heading"> our <span>Vegetables</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="{{ url_for('static', filename='Onion.png') }}" alt="Onion Image">
            <h3>Onion</h3>
            <div class="price"> Rs.25/- <span> Rs.30/- </span> </div>
            <div class="quantity"> 
                <span>quantity :  </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>    
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Tomato.png') }}" alt="Tomato Image">
            <h3>Tomato</h3>
            <div class="price"> Rs.20/- <span> RS.30/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Cabbage.png') }}" alt="Cabbage Image">
            <h3>Cabbage</h3>
            <div class="price"> Rs.15/- <span> Rs.20/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Carrot.png') }}" alt="Carrot Image">
            <h3>Carrot</h3>
            <div class="price"> Rs.25/- <span> Rs.30/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Brinjal.png') }}" alt="Brinjal Image">
            <h3>Brinjal</h3>
            <div class="price"> Rs.13/- <span> Rs.15/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>
     
        <div class="box">
            <img src="{{ url_for('static', filename='Potato.png') }}" alt="Potato Image">
            <h3>Potato</h3>
            <div class="price"> Rs.25/- <span> Rs.30/- </span> </div>
            <div class="quantity">
                <span>quantity :  </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>    
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Beetroot.png') }}" alt="Beetroot Image">
            <h3>Beetroot</h3>
            <div class="price"> Rs.27/- <span> RS.30/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Bitter Guard.png') }}" alt="Bitter Guard Image">
            <h3>Bitter Guard</h3>
            <div class="price"> Rs.30/- <span> Rs.35/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Green Beans.png') }}" alt="Green Beans Image">
            <h3>Green Beans</h3>
            <div class="price"> Rs.23/- <span> Rs.30/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Ladys Finger.png') }}" alt="Ladys Finger Image">
            <h3>Ladys Finger</h3>
            <div class="price"> Rs.30/- <span> Rs.35/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>
            
        <div class="box">
            <img src="{{ url_for('static', filename='Drumstick.png') }}" alt="Drumstick Image">
            <h3>Drumstick</h3>
            <div class="price"> Rs.30/- <span> Rs.35/- </span> </div>
            <div class="quantity">
                <span>quantity :  </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>    
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Snake Guard.png') }}" alt="Snake Guard Image">
            <h3>Snake Guard</h3>
            <div class="price"> Rs.28/- <span> RS.30/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Elephant Yam.png') }}" alt="Elephant Yam Image">
            <h3>Elephant Yam</h3>
            <div class="price"> Rs.35/- <span> Rs.40/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Cauliflower.png') }}" alt="Cauliflower Image">
            <h3>Cauliflower</h3>
            <div class="price"> Rs.30/- <span> Rs.35/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>

        <div class="box">
            <img src="{{ url_for('static', filename='Green Chilly.png') }}" alt="Green Chilly Image">
            <h3>Green Chilly</h3>
            <div class="price"> Rs.20/- <span> Rs.25/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / kg </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>
            
        <div class="box">
            <img src="{{ url_for('static', filename='Turkey Berry.png') }}" alt="Turkey Berry Image">
            <h3>Turkey Berry</h3>
            <div class="price"> Rs.30/- <span> Rs.35/- </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="100" value="1">
                <span> / 500 Grams </span>
            </div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button id="shopnow" onclick="incrementButton()">Add to cart</button> 
        </div>
    </div>
    
</section>




<section class="footer">

    <div class="box-container">
    
        <div class="box">
            <h3> Farm Fresh <i class="fas fa-shopping-basket"></i> </h3>
                <p>No:100,Nammalvar Nagar,12th Street,Chennai-12.</p>
                <div class="share">
                    <a href="#" class="fab fa-whatsapp"></a>
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
         </div>
    
        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +91 123-456-7890 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +91 111-222-3333 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> farmfresh12@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Chennai,India - 600110.</a>
        </div>
    
        <div class="box">
            <h3>quick links</h3>
            <a href="/" class="links"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="/features.html" class="links"> <i class="fas fa-arrow-right"></i> features </a>
            <a href="/products.html" class="links"> <i class="fas fa-arrow-right"></i> products </a>
            <a href="/categories.html" class="links"> <i class="fas fa-arrow-right"></i> categories </a>
            <a href="/Aboutus.html" class="links"> <i class="fas fa-arrow-right"></i> Aboutus </a>
        </div>
    
    </div>
    
    <div class="credit"> created by <span> Farm Fresh Team </span> | all rights reserved </div>
    
</section>
    
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>
    